<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кино - О нас</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
  <h1>Кино</h1>
  <nav>
    <ul>
      <li><a href="index.html">Главная</a></li>
      <li><a href="movies.html">Фильмы</a></li>
      <li><a href="about.html">О нас</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="about">
    <h2>О нас</h2>
    <p>Кино — это ведущая платформа для просмотра фильмов. Мы предлагаем широкий выбор фильмов, от новых премьер до классики, чтобы вы всегда могли наслаждаться самыми захватывающими историями прямо у себя дома.</p>
  </section>
</main>
<script src="../js/script.js"></script>
</body>
</html>