<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кино - Главная</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <h1>Кино</h1>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="movies.html">Фильмы</a></li>
            <li><a href="about.html">О нас</a></li>
        </ul>
        <a href="/WebTech/admin/index.php" class="btn login-btn">Вход в админку</a>
    </nav>
</header>
<main>
    <section class="hero">
        <h2>Фильмы и не только</h2>
        <p>Не знаете, что посмотреть? Тогда Вам сюда!.</p>
        <a href="movies.html" class="btn">Загрузить Фильмы</a>
    </section>
</main>

<script src="../js/script.js"></script>
</body>
</html>