<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кино - Фильмы</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
  <h1>Кино</h1>
  <nav>
    <ul>
      <li><a href="index.html">Главная</a></li>
      <li><a href="movies.html">Фильмы</a></li>
      <li><a href="about.html">О нас</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="Movies">
    <h2>Топ Фильмов</h2>
    <div class="Movie-list">
      {{foreach $Movies as $Movie}}
      <div class="Movie">
        <h3>{{this.name}}</h3>
        <p>Date: {{this.date}}</p>
      </div>
      {{endforeach}}
    </div>
  </section>
</main>
<script src="../js/script.js"></script>
</body>
</html>