# Игнорируем системные файлы
/.idea/                  # Настройки PHPStorm
/.vscode/                # Настройки VS Code
/.DS_Store               # MacOS

# Игнорируем временные файлы
/vendor/                 # Composer-пакеты (устанавливаются вручную)
/node_modules/           # NPM-пакеты
/.env                    # Файл с паролями и API-ключами
/.env.local
/.env.*.local
/.cache/
*.log                    # Лог-файлы
/storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Игнорируем загруженные файлы и кеш
/public/uploads/
public/storage/
